<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>students worksheet</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <div class="alert">
        <script>
            alert("Are You Sure ?")
        </script>
        
    </div>
</head>
<STYLE>A {text-decoration: none;}</STYLE>
<body>
    <div class="main-body">
        <h1>WORKSHEET </h1>
        <p align="justify"><b>A </b>worksheet, in the word's original meaning, is a sheet of paper on which one performs work. They come in many forms, most commonly associated with children's school work assignments, tax forms, and accounting or other business environments. Software is increasingly taking over the paper-based worksheet. It can be a printed page that a child completes with a writing instrument. No other materials are needed. It is "a sheet of paper on which work schedules, working time, special instructions, etc. are recorded. A piece or scrap of paper on which problems, ideas, or the like, are set down in tentative form." In education, a worksheet may have questions for students and places to record answers.</p>
    </div>
        <div>
            <h2>Question 1</h2>
            <P>Find the Answer</P>
            <img src="/static/images/image1.jpg" width="300px" height="200px">
            <div class="answer1">
                <form action="{{url_for('predict1')}}" method="post">
                <input type="number" id="nm" name="number" placeholder="Enter Answer Here" required=" required">
                <button type="submit">Submit</button>
                </form>
        </div>
        </div>
            <div class="predicted">
                <h3>The answer is 1</h3>    
            </div>
        </div>
    </div>
    </body>
</html>