<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>students worksheet</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div class="main-body">
        <h1>WORKSHEET </h1>
        <p><b>S</b>ome paragraph related to worksheet...Blah...blah...blah</strong></p>
        <br>
    </div>
        <div>
            <h2>Question 1</h2>
            <P>Find the Answer</P>
            <img src="https://github.com/vineshbavikkara/worksheet/blob/main/images/image1.jpg?raw=true" width="300" height="200">
            <div class="answer1">
                <form action="{{url_for('predict1')}}" method="post">
                <input type="number" id="nm" name="number" placeholder="Enter Answer Here" required=" required">
                <button type="submit">Submit</button>
                </form>
        </div>
        </div>
            <div class="predicted">
                <h3>{{n}}&#x1F642;{{answer}} </h3>            
            </div>
        </div>
    </div>
    <br><br>
    <div>
        <a href="index.html"><b>Home</b></a>
    </div>
    </body>
</html>